body,
html {
    margin: 0;
    padding: 0;
    font-family: "montserrato", sans-serif;
    background: url(4.jpg) no-repeat center center fixed;
    background-size: cover;
   
}


}
strong {
    color: white;
}
body h1 strong {
    color: white;
    font-size: 2rem;
}

hr {
    background-color: orange;
    opacity: 1;
    height: 4px;
    max-width: 65px;

    margin: auto;
    margin-bottom: 20px;

}

hr:not([size]) {
    height: 3px;
}

.buffer {
    height: 4rem;
}



.btn-default {
    color: #fff;
    background-color: orange;
    border-color: orange;
}

.btn-default:hover {
    color: #fff;
    background: black;
    border: 4px solid black;
}

.btn-xl {
    padding: 12px 24px;
}

.btn {
    border-radius: 50px;
    font-weight: bold;
}

.row {
    margin-top: 245px;
}